.footer {
	background-color: #363a42;

	.container {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
	}
}


/****************/
/*LEFT COLUMN*/
/*****************/

.footer__left {
	width: 370px;
	padding-top: 50px;
	margin-right: 30px;
	padding-left: 30px;
	background-color: #31353d;
}

.footer__logo {
	display: block;
	text-decoration: none;
	width: 95px;
	height: 25px;
	margin-bottom: 25px;
	overflow: hidden;
}

.footer__logo img {
	max-width: 100%;
	height: auto;
}

.footer__text {
	margin-bottom: 35px;
	padding-right: 40px;
	font-size: 12px;
	line-height: 24px;
	color: #868686;
	font-weight: 300;
}

.footer__contacts {
	margin-bottom: 55px;
	font-size: 12px;
	line-height: 24px;
	color: #fff;
	font-weight: 300;
}

.footer__contact-name {
	color: #868686;
	margin-right: 5px;
}

.footer__soc-links {
	width: 250px;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__soc-link {
	background-repeat: no-repeat;
	background-position: center;
}

.footer__soc-link--fb {
	background-image: url(../../images/icon--fb.png);
	width: 10px;
	height: 18px;
}

.footer__soc-link--twitter {
	background-image: url(../../images/icon--twitter.png);
	width: 17px;
	height: 13px;
}

.footer__soc-link--insta {
	background-image: url(../../images/icon--insta.png);
	width: 17px;
	height: 17px;
}

.footer__soc-link--youtube {
	background-image: url(../../images/icon--youtube.png);
	width: 18px;
	height: 13px;
}

.footer__soc-link--google {
	background-image: url(../../images/icon--google.png);
	width: 25px;
	height: 15px;
}

.footer__soc-link--be {
	background-image: url(../../images/icon--be.png);
	width: 21px;
	height: 13px;
}


/****************/
/*CENTER COLUMN*/
/*****************/

.footer__center {
	width: 280px;
	margin-right: auto;
	padding-top: 60px;
}



/****************/
/*RIGHT COLUMN*/
/*****************/

.footer__right {
	width: 400px;
	margin-top: 95px;
}

.footer__map {
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../../images/footer-map.jpg);
	width: 400px;
	height: 280px;
}